  h1{
    font-size: 18px;
  } 
    body{
    background-color: #eee;
    font-size: 18px;
    }
    head{
        background-color: #000;
        text-decoration: #fff;
        text-align: center;
        padding: 20px;
    }


  

  